doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/export.css')
    title= title

  body
    .header
      include ../public/img/logo.svg
      h1=title
    if students != undefined
      if students.year7 && students.year7.length > 0
        h2
          | Year 7
        table
          tr
            th
              | Forenames
            th
              | Surname
            th
              | BA
            th
              | MH
              
          each student in students.year7
            tr
              td= student.forenames
              td= student.surname
              if student.io == 1 && student.loc == "BA"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
              if student.io == 1 && student.loc == "MH"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
      if students.year8 && students.year8.length > 0
        h2
          | Year 8
        table
          tr
            th
              | Forenames
            th
              | Surname
            th
              | BA
            th
              | MH
              
          each student in students.year8
            tr
              td= student.forenames
              td= student.surname
              if student.io == 1 && student.loc == "BA"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
              if student.io == 1 && student.loc == "MH"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
      if students.year9 && students.year9.length > 0
        h2
          | Year 9
        table
          tr
            th
              | Forenames
            th
              | Surname
            th
              | BA
            th
              | MH
              
          each student in students.year9
            tr
              td= student.forenames
              td= student.surname
              if student.io == 1 && student.loc == "BA"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
              if student.io == 1 && student.loc == "MH"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
      if students.year10 && students.year10.length > 0
        h2
          | Year 10
        table
          tr
            th
              | Forenames
            th
              | Surname
            th
              | BA
            th
              | MH
              
          each student in students.year10
            tr
              td= student.forenames
              td= student.surname
              if student.io == 1 && student.loc == "BA"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
              if student.io == 1 && student.loc == "MH"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
      if students.year11 && students.year11.length > 0
        h2
          | Year 11
        table
          tr
            th
              | Forenames
            th
              | Surname
            th
              | BA
            th
              | MH
              
          each student in students.year11
            tr
              td= student.forenames
              td= student.surname
              if student.io == 1 && student.loc == "BA"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
              if student.io == 1 && student.loc == "MH"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
      if students.year12 && students.year12.length > 0
        h2
          | Year 12
        table
          tr
            th
              | Forenames
            th
              | Surname
            th
              | BA
            th
              | MH
              
          each student in students.year12
            tr
              td= student.forenames
              td= student.surname
              if student.io == 1 && student.loc == "BA"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
              if student.io == 1 && student.loc == "MH"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
      if students.year13 && students.year13.length > 0
        h2
          | Year 13
        table
          tr
            th
              | Forenames
            th
              | Surname
            th
              | BA
            th
              | MH
              
          each student in students.year13
            tr
              td= student.forenames
              td= student.surname
              if student.io == 1 && student.loc == "BA"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
              if student.io == 1 && student.loc == "MH"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
      if staff && staff.length > 0
        h2
          | Staff
        table
          tr
            th
              | Forenames
            th
              | Surname
            th
              | BA
            th
              | MH
              
          each member in staff
            tr
              td= member.forenames
              td= member.surname
              if member.io == 1 && member.loc == "BA"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
              if member.io == 1 && member.loc == "MH"
                td.center.location
                  | &squf;
              else
                td.center.location
                  |
    else
    
      h2
        | No one signed in.
